<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ department|first|upper }}LT{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'css/bootstrap.min.css'
            'css/jquery-ui/jquery-ui.min.css'
            output="css/compiled/blt.css" filter="cssrewrite"%}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#actions"aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">{{ department }} Logistics Tool</span>
                    </div>

                    <div id="actions" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% block userActions %}

                            {% endblock %}
                            <li role="separator" class="divider"></li>
                            <li><a href="logout" tabindex="-1">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block javascripts %}
            {% javascripts
            'components/jquery/jquery.min.js'
            'components/jquery-ui/jquery-ui.min.js'
            'js/bootstrap.min.js'
            output="js/compiled/blt.js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
