{% extends 'base.html.twig' %}

{% block userActions %}
    <li><a href="view" tabindex="-1">View Packages</a></li>
    <li><a href="maintenance" tabindex="-1">Maintenance</a></li>
    <li><a href="reporting" tabindex="-1">Reporting</a></li>
    {#<li><a href="dashboard" tabindex="-1">Dashboard</a></li>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'css/menu.less' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="receiving" class="center-block btn btn-lg btn-block btn-primary menuMainButtons">Receiving</a>
            </div>

            <div class="col-md-6">
                <a href="delivering" class="center-block btn btn-lg btn-block btn-primary menuMainButtons">Delivering</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/menu.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}