{% extends 'base.html.twig' %}
{% use 'blocks/package.block.html.twig' %}
{% use 'blocks/pickupPackage.block.html.twig' %}

{% block userActions %}
    <li><a href="#" id="shipper" tabindex="-1">Select Shipper</a></li>
    <li><a href="#" id="pickup" tabindex="-1">Pickup</a></li>
    <li><a href="/" tabindex="-1">Back to menu</a></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'css/blt2/receiving.less'
    'css/DataTables/datatables.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {{ block('packageStyleSheets') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ block('package') }}
    {{ block('pickupPackage') }}

    <div id="emptyTrackingNumberModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="trackingNumberError">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="emptyTrackingNumberTitle">Error</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger center-block text-center">Tracking number can not be empty</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div id="packageAlreadyExistsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="existingPackageError">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="packageAlreadyExistsErrorTitle">Existing Package</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center">Package already exists</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="editPackage" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-existing=true data-target="#packageModal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="selectShipperModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="trackingNumberError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="selectAShipperTItle">Select a Shipper</h4>
                </div>
                <div class="modal-body">
                    <div id="shippers">
                        <div class="row">
                            <div class="col-md-12">
                                {% image 'images/spinner.gif' %}
                                <img src="{{ asset_url }}" id="spinner" class="center-block"/>
                                {% endimage %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row panel">
            <div class="col-xs-12 text-center">
                <h3>Shipper: <span id="shipperSpan"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="input-group input-group-lg">
                    <input type="text" id="trackingNumberInput" class="form-control text-center" />
                    <div class="input-group-btn">
                        <button type="button" id="clear" class="btn btn-danger" tabindex="-1">Clear</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="trackingNumberButtons" class="row">
            <div class="col-md-12">
                <button type="button" id="enterInDetails" class="btn btn-primary btn-large center-block" data-toggle="modal">Enter in details</button>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12 center-block">
                <h3 class="text-center">Items received for today</h3>
            </div>
        </div>
        <div class="row">
            <table id="datatable-Receiving" class="table table-bordered">
                <thead>
                <tr>
                    <th data-priority="1">Tracking number</th>
                    <th>Vendor</th>
                    <th>Shipper</th>
                    <th data-priority="2">Receiver</th>
                    <th data-priority="">Number of packages</th>
                    <th>User (who received)</th>
                    <th>Packing slip(s)</th>
                    <th>Date received</th>
                </tr>
                </thead>
                <tbody class="table-striped table-hover text-center">

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'js/DataTables/datatables.min.js'
    'js/DataTables/fnFindCellRowIndexes.js'
    '../vendor/needim/noty/js/noty/jquery.noty.js'
    '../vendor/needim/noty/js/noty/layouts/top.js'
    '../vendor/needim/noty/js/noty/themes/bootstrap.js'
    'js/blt2/receiving.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ block('packageJavascripts') }}
    {{ block('pickupPackageJavascripts') }}
{% endblock %}